<h1>Listing Users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>

  <% @user.each do |user| %>

    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Main Page', controller: 'welcome' %>