<head>
  <% provide(:title, 'Sign up') %>
  <div class="topnav">
    <a><%= link_to 'MBRICK.COM',admin_path %></a>
    <div class="topnav-right">
      <a><%= link_to 'Logout',welcome_index_path %></a>
    </div>
  </div>
</head>
<body>
<h1><%= button_to 'Show All Users', admin_index_path %></h1>
</body>