<head>
    <title>Heading Example</title>   
    <div class="topnav">
        <a><%= link_to 'MBRICK.COM',welcome_index_path %>
        <div class="topnav-right">
        <a><%= link_to "logout", logout_path %></a>
        </div>
    </div>
</head>
<h1> User Show Page</h1>