<!DOCTYPE html>
<html>
<head>
    <title>Heading Example</title>   
    <div class="topnav">
        <a><%= link_to 'MBRICK.COM',welcome_index_path %>
        <div class="topnav-right">
        <a> <%= link_to 'Signup',register_path %></a>
        <a><%= link_to 'Login',welcome_index_path %></a>
        </div>
    </div>
</head>
</html>